@tailwind base;
@tailwind components;
@tailwind utilities;

.Error-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 93vh;
  color: #fcfcfc;
}
.Error-text * {
  font-size: 50px;
}
.errContainer {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #1c0000, #4c0000)
}
